# Dependencies
node_modules
scripts/.venv

# Output
.output
/.wrangler
/.svelte-kit
/build
/build-static
/package
/dist
# Output:migrations
/migrations/*.js

# Secrets
.env.local
.env.*.local
.dev.vars
.dev.vars.*

# Runners
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Data
local_*.sql
scripts/data/
sql/data/
scripts/.ipynb_checkpoints/
.data/