node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/package

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Runners
/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea