# Dependencies
node_modules

# Output
.output
/.wrangler
/.svelte-kit
/build
/build-static
/package
# Output:migrations
/migrations/*.js

# Env
.env
.env.*
!.env.example

# Runners
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea

# OS
.DS_Store
Thumbs.db

# Data
local_*.sql
